.al-phone-group{position:relative}
.al-phone-prefix{position:absolute;left:17px;top:50%;transform:translateY(-50%);z-index:1;color:#1d2836;font-size:16px;font-weight:500;pointer-events:none}
.al-phone-group .al-phone{padding-left:103px}
.al-phone::placeholder{color:#6d7785;opacity:1}
